<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=LAPTOP-GPJ24UPK;Persist Security Info=True;Password=sheep11;User ID=sa;Initial Catalog=AdventureWorks2012"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>